<%= form_with(model:@task, local: true) do |t|  %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %> <%= t '.error' %></h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= t '.title' %> <%= t.text_field :title %>
  <br>
  <%= t '.description' %><%= t.text_field :description %>
  <br>
  1<%= t.range_field(:importance, in:1..10) %>10
  <br>
  <%= t '.due_date' %><%= t.date_field :due_date %>
  <br>
  <%= t.submit %>
<% end %>
