<% if @task.errors.any? %>
  <div class="alert">
    <ul style="color: red">
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@task) do |f| %>
  <p><%= f.label :name, t('tasks.submit.taskname') %>
    <%= f.text_field :name %></p>

  <p><%= f.label :description, t('tasks.submit.description') %>
    <%= f.text_field :description %></p>

  <p><%= f.submit t 'tasks.submit.button' %></p>
<% end %>
