<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="task.scss" type="text/scss">
</head>
<body>
  <h1><%= t '.title' %></h1>
  <div id="sort_list">
    <%= link_to (t '.sorted_created_at'), root_path(sort_created: "true") %>
    <%= link_to (t '.sorted_due_date'), root_path(sort_due_date: "true") %>
    <%= link_to (t '.sorted_id'), root_path %>
  </div>
  <% if @tasks.size != 0 %> 
  <div id="index">
    <% @tasks.each do |task| %>
      <%= link_to "#{t '.task_title'}#{task.title}", task_path(task) %>
    <% end %>
    <%= paginate @tasks %>

    <%= render partial: "layouts/search_form" %>
  </div>
  <% else %>
    <h1><%= t '.task_notting' %></h1>
  <% end %>

    <%= button_to (t '.create_button'), new_task_path, method: :get %>
  </div>
</body>
